body {
	font-family: Helvetica, arial, sans-serif;
	font-size: 14px;
}
#tilemantle, #tilemantle-app {
	height: 100%;
	width: 100%;
	position: absolute;
}
.leaflet-map {
	width: 100%;
	height: 100%;
}

#tilemantle-header {
	background: #F5F5F3;
	color: #666565;
	height: 30px;
	box-sizing: border-box;
	padding: 4px 10px;
	position: relative;
	z-index: 2;
	box-shadow: inset 0 -1px 1px rgba(134, 132, 128, 0.2);
}
#tilemantle-header button {
	margin: -5px 5px 0 0;
	vertical-align: middle;
	color: #222;
	height: 19px;
	font-size: 11px;
}
#tilemantle-header select {
	height: 19px;
	font-size: 11px;
	margin: -6px 5px 0 0;
	vertical-align: middle;
}
#tilemantle-header button:disabled {
	background: none;
	border: 0 none;
	opacity: 0.1;
}
#tilemantle-logo {
	font-weight: 300;
	font-size: 18px;
	margin-right: 10px;
}
#tilemantle-queue-size {
	position: absolute;
	right: 10px;
	top: 8px;
	font-size: 12px;
}
#tilemantle-queue-size button {
	margin-left: 10px;
	vertical-align: middle;
	margin-bottom: -2px;
}
#tilemantle-body {
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
}