<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>TileMantle</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/leaflet.css">
		<link rel="stylesheet" href="css/tilemantle.css">
	</head>
	<body>
		<div id="tilemantle">{{app}}</div>
		<script>var TILEMANTLE_PROPS={{props}};</script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/tilemantle.js"></script>
	</body>
</html>